@import './variables.css';
@import './libs/normalize.css';
@import './components/all.css';

* {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:after,
li a:after {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background: var(--gold);
    transition: var(--mainTransition);
}

a:hover,
li a:hover {
    color: var(--gold);
}

a:hover:after,
li a:hover:after {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.wrapper {
    max-width: 1438px;
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;
}

.header__logo a,
.header__navigation li a,
.header__phone a {
    font-weight: 300;
    font-size: var(--O87);
    text-transform: uppercase;
}

.mainButton,
.borderedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    height: 2.5rem;
    padding: 0.9rem 1.5rem 0.6rem 1.5rem;
    font-weight: 400;
    font-size: var(--R7);
    text-transform: uppercase;
    border-radius: var(--R1);
    transition: var(--mainTransition);
}

.mainButton {
    color: var(--white);
    background: var(--gold);
    box-shadow: var(--btnShadow);
}

.mainButton:hover {
    background: var(--goldHover);
}

.mainButton:active {
    background: var(--goldActive);
}

.borderedButton {
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.borderedButton:hover {
    background: var(--whiteHover);
}

.borderedButton:active {
    background: var(--whiteActive);
}

.onlineControl__container,
.repairTypes__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onlineControl__decor,
.repairTypes__decor {
    position: relative;
}

.onlineControl__decor:before,
.onlineControl__decor:after,
.repairTypes__decor:before,
.repairTypes__decor:after {
    position: absolute;
    content: '';
    width: 2rem;
    height: 1px;
    background: var(--gold);
}

.onlineControl__decor:before,
.repairTypes__decor:before {
    top: 1rem;
    left: -3rem;
}

.onlineControl__decor:after,
.repairTypes__decor:after {
    top: 1rem;
    right: -3rem;
}

.onlineControl h4,
.repairTypes h4 {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    text-transform: uppercase;
}

.onlineControl__form,
.request__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onlineControl__fieldset,
.request__fieldset,
.onlineControl__input,
.request__input {
    border: none;
    outline: none;
}

.onlineControl__name,
.request__name {
    font-size: var(--O8);
}

.onlineControl__input::placeholder,
.request__input::placeholder {
    font-size: var(--O87);
}

.onlineControl__agreement,
.request__agreement {
    position: relative;
    display: flex;
}

.onlineControl__fancyCheckbox,
.request__fancyCheckbox {
    position: absolute;
    display: flex;
    width: 0.9rem;
    height: 0.9rem;
    margin-left: -1.5rem;
    background: var(--gold);
    border-radius: var(--R1);
    cursor: pointer;
}

.onlineControl__fancyCheckbox:after,
.request__fancyCheckbox:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    background-image: url(../assets/img/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--mainTransition);
}

.onlineControl__agreement input,
.request__agreement input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.onlineControl__agreement input:checked + .onlineControl__fancyCheckbox:after,
.request__agreement input:checked + .request__fancyCheckbox:after {
    opacity: 1;
}

.onlineControl__agreement input:focus + .onlineControl__fancyCheckbox,
.request__agreement input:focus + .request__fancyCheckbox:after {
    box-shadow: 0 0 5px var(--subText);
}