@import './variables.css';
@import './libs/normalize.css';
@import './components/all.css';

* {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.wrapper {
    max-width: 1438px;
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;
}

.header__logo a,
.header__navigation li a,
.header__phone a {
    font-weight: 300;
    font-size: var(--O87);
    text-transform: uppercase;
}

.mainButton {
    padding: 0.6rem 1.5rem;
    color: var(--white);
    font-weight: 400;
    font-size: var(--O87);
    text-transform: uppercase;
    background: var(--gold);
    border-radius: var(--O1);
    box-shadow: 0 0 15px rgba(227, 184, 115, 0.2);
}