@import './variables.css';
@import './libs/normalize.css';
@import './components/all.css';

* {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.wrapper {
    max-width: 1438px;
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;
}

.header__logo a,
.header__navigation li a,
.header__phone a {
    font-weight: 300;
    font-size: var(--O87);
    text-transform: uppercase;
}

.mainButton,
.borderedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    height: 2.5rem;
    padding: 0.9rem 1.5rem 0.6rem 1.5rem;
    font-weight: 400;
    font-size: var(--R7);
    text-transform: uppercase;
    border-radius: var(--R1);
    transition: var(--mainTransition);
}

.mainButton {
    color: var(--white);
    background: var(--gold);
    box-shadow: 0 0 15px rgba(227, 184, 115, 0.2);
}

.mainButton:hover {
    background: var(--goldHover);
}

.mainButton:active {
    background: var(--goldActive);
}

.borderedButton {
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.borderedButton:hover {
    background: var(--whiteHover);
}

.borderedButton:active {
    background: var(--whiteActive);
}