:root {
    --mainBlack: #131313;
    --gold: #E3B873;
    --goldHover: #e3b873ef;
    --goldActive: #e7bf7e;
    --white: #FFFFFF;
    --whiteHover: #ffffff83;
    --whiteActive: #ffffff9d;
    --text: #363636;


    /* Text sizes */
    --I1: 1.1rem;
    --O87: 0.87rem;


    /* Radiuses */
    --O7: 0.7rem;
    --O1: 0.1rem;


    /* Transitions */
    --mainTransition: all 0.4s;


    /* Borders */
    --articleBorder: 1px solid #E2E2E2;


    /* Shadows */
    --articleShadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}