:root {
    --mainBlack: #131313;
    --text: #363636;
    --subText: #36363680;
    --grey: #36363660;
    --gold: #E3B873;
    --goldHover: #e3b873e0;
    --goldActive: #e7bf7e;
    --white: #FFFFFF;
    --whiteHover: #ffffff83;
    --whiteActive: #ffffff9d;
    --lightGrey: #cecece;


    /* Text sizes */
    --I1: 1.1rem;
    --O87: 0.87rem;
    --O8: 0.8rem;


    /* Radiuses */
    --R7: 0.7rem;
    --R1: 0.1rem;


    /* Transitions */
    --mainTransition: all 0.3s;


    /* Borders */
    --articleBorder: 1px solid #E2E2E2;


    /* Shadows */
    --articleShadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}